<div class="container mt-5">
    <div class="row">
        <div class="col-6">
          <button class="btn btn-success btn-lg float-right"  (click)="startGame()">
            Start
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-danger btn-lg float-left" (click)="stopGame()">
            Stop
          </button>
        </div>
      </div>
</div>
<div class="row">
    <h2 textColor='red' class="col-12 mt-4" >
    Time to play the game
    </h2>
</div>

